body {
  text-align: center;
  font-family: garamond;
  background: #c5c4b6;
}
.dialog {
  text-align: left;
  margin: auto;
  display: inline-block;
  border: #2d3584;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  background: #cbd0da;
}
.instruction {
  margin: 0 0 5px 0;
}
.slider {
  width: 95%;
}
.gender {
  text-align: center;
  font-size: larger;
  font-style: italic;
}
